/*navbar started*/

.navbar .navbar-nav{
    margin-left:400px;
}
.navbar {
    background:white;
}
.navbar .navbar-nav  .nav-item .nav-link{
    margin-left:20px;
    font-family: 'Poppins', sans-serif;
    
}
.navbar .navbar-brand{
    padding-left:150px;
    font-size:30px;
   
    font-family: 'Poppins', sans-serif;
}
.navbar .navbtn{
    margin-left:50px;
    margin-top:2px;
}
.navbar .navbtn button{
    background:black;
    padding:5px 20px;
    border:none;
    border-radius:3px;
}
.navbar .navbtn a{
    color:white;
    text-decoration:none;
    font-family:poppins,sans-serif;
}
/*media query started*/
@media screen and (max-width:768px)
{
.navbar .navbar-nav{
    margin-left:10px;
}

.navbar .navbar-nav .nav-item .nav-link{
    margin-left:0px;
}
.navbar .navbar-brand{
    padding-left:10px;
    font-size:22px;
}
.navbar .navbtn{
    margin-left:0px;
    margin-top:20px;
}
}
@media screen and (min-width:769px) and (max-width:1400px)
{
    .navbar .navbar-nav{
        margin-left:0px;
}
    .navbar .navbar-brand{
   font-size:30px;
   }
    .navbar-.navbar-nav .nav-item .nav-link{
        margin-left:10px;
    }
}

/*media query completed*/
/*navbar completed*/


#headfeat{
    background-image:url("imagehead1.jpg");
    
    height:200px;
    width:100%;
}
#headfeat h1{
    color:white;
    text-align:center;
    padding-top:110px;
    font-family:poppins,sans-serif;
}

#about .firstrow{
    height:400px;
 
    padding-top:70px;
}


#about .firstrow  .card {
    position: relative;
    width: 100%;
    height: 232px;
    border-radius: 14px;
    z-index: 1111;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
    ;
  }
  #about .firstrow .card .bg{
    text-align:center;
    padding-top:60px;
    background:linear-gradient(to right,rgb(156,156,156),rgb(144, 144, 177));
  }
  #about .firstrow .card .bg h4{
    padding-top:20px;
    font-family:poppins , sans-serif;
    font-size:20px;
  }
  #about .firstrow .card i{
    text-align:center;
    font-size:25px;

  }
  #about .firstrow .bg {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 97%;
    height: 220px;
    z-index: 2;
    background: rgba(255, 255, 255, .95);
    backdrop-filter: blur(24px);
    border-radius: 10px;
    overflow: hidden;
    outline: 2px solid white;
  }
  
  #about .firstrow .blob {
    position: absolute;
    z-index: 1;
    top: 60%;
    left: 50%;
    width: 190px;
    height: 160px;
    border-radius: 50%;
    background-color: #d9ff00;
    opacity: 1;
    filter: blur(12px);
    animation: blob-bounce 5s infinite ease;
  }
  
  @keyframes blob-bounce {
    0% {
      transform: translate(-100%, -100%) translate3d(0, 0, 0);
    }
  
    25% {
      transform: translate(-100%, -100%) translate3d(100%, 0, 0);
    }
  
    50% {
      transform: translate(-100%, -100%) translate3d(100%, 100%, 0);
    }
  
    75% {
      transform: translate(-100%, -100%) translate3d(0, 100%, 0);
    }
  
    100% {
      transform: translate(-100%, -100%) translate3d(0, 0, 0);
    }
  }
  /*about firstrow media query started*/
  @media screen and (max-width:767px)
  {
    #about .firstrow .card{
         margin-top:30px;
}
    #about .firstrow {
        height:950px;
    }
  }

  @media screen and (min-width:768px) and (max-width:1400px)
  {
    #about .firstrow {
        height:400px;
    }
  }
/*about firstrow media query completed*/
/*about firstrow completed*/


/*testimonial started*/
#testimonial{
    height:700px;
    width:100%;
    background:rgb(241, 205, 191);
    padding-top:50px;
  }
#testimonial h2{
    text-align:center;
    font-size:40px;
    font-family:poppins,sans-serif;
}
#testimonial h2 span{
    color:rgb(80, 175, 80);
}
#testimonial h6{
    text-align:center;
    padding-right:200px;
    padding-left:200px;
    font-family:poppins,sans-serif;
}
#testimonial .firstcol,.thirdcol{
    padding-top:50px;
}
#testimonial i{
    float:left;
 padding:10px;
    background:white;
    color:rgb(80, 175, 80);
    border:1px solid  rgb(80, 175, 80);
    border-radius:50px;
    font-size:30px;
}
#testimonial .firstcol h4{
    padding-left:60px;
    padding-top:5px;
    font-family:poppins,sans-serif;
}
#testimonial .firstcol p{
    padding-left:60px;
    font-family:poppins,sans-serif;
}
#testimonial .secondcol img{
    width:100%;
   
    margin-top:40px;
}
#testimonial .thirdcol h4{
    padding-left:60px;
    padding-top:5px;
}
#testimonial .thirdcol p{
    padding-left:60px;
}
  /*media query started*/
@media screen and (max-width:767px)
{
    #testimonial h6{
        padding-left:10px;
        padding-right:10px;
        font-size:15px;
       
    }
    #testimonial{
        height:1400px;
    }
    #testimonial h2{
        font-size:30px;
    }
    #testimonial .firstcol,.thirdcol{
        padding-top:30px;
    }
    #testimonial .secondcol img{
        width:100%;
       
    }
    #testimonial i{

        font-size:20px;
    }
    #testimonial  h4{
       font-size:21px;
    }
    #testimonial  p{
        font-size:13px;
    }
}
@media screen and (min-width:768px) and (max-width:1400px)
{
    #testimonial h2{
        font-size:25px;
    }
    #testimonial h6{
        padding-right:50px;
        padding-left:50px;
    }
    #testimonial{
        height:700px;
    }
    #testimonial  h4{
        font-size:20px;
     }
     #testimonial  p{
         font-size:13px;
     }
     #testimonial i{

        font-size:20px;
    }
    #testimonial .secondcol img{
        
        width:100%;
    }
}
  /*media query completed*/

  /*testimonial completed*/



  #subscribe{
    height:400px;
    width:100%;
    background:skyblue;
}

#subscribe h1{
    text-align:center;
    font-family:poppins,sans-serif;
    padding-top:100px;
}
#subscribe h1 span{
    color:white;
    font-weight:700;
}
#subscribe h6{
    text-align:center;
    padding-top:20px;
    font-family:poppins,sans-serif;
    font-weight:700;
}

#subscribe .input-container {
    display: flex;
    align-items: center;
    width: 500px;
    margin: 0 auto;
    margin-top:30px;
  }
  
  #subscribe .input-field {
    flex: 1;
    height: 40px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    padding-left:20px;
    font-family:poppins,sans-serif;
  }
  
  #subscribe .send-icon-container {
   
    margin-left: 10px;
    background:rgb(155, 76, 189);
    border-radius:5px;
    padding:8px;
    
    
  }
  
  #subscribe .send-icon {
    width: 30px; /* Adjust the width of the send icon as needed */
    height: auto;
  }
  
  @media screen and (min-width:320px)  and (max-width:767px)
  {
    #subscribe {
        height:350px;
    }
    #subscribe h1{
        font-size:25px;
        padding-top:80px;
    }
    #subscribe h6{
        padding-top:15px;
        font-size:15px;
        font-weight:300;
    }
    #subscribe .input-container {
        display: flex;
        align-items: center;
        width: 270px;
        margin: 0 auto;
        margin-top:30px;
      }
      #subscribe .input-field {
        font-size: 13px;

      }
    }



    #footer{
        height:400px;
        width:100%;
        background:lightgrey;
        padding-top:70px;
    }
    #footer ul li{
        list-style-type:none;
    }
    #footer .firstfoot h2{
        color:rgb(80, 175, 80);
        font-family:poppins,sans-serif;

    }
    #footer .firstfoot p{
font-family:poppins,sans-serif;
    }
   
    #footer .secondfoot h4{
        font-family:poppins,sans-serif;
    }
    #footer .secondfoot .iconsfoot a{
        text-decoration:none;
        font-family:poppins,sans-serif;
        padding-left:10px;
        color:black;
    }
   #footer .secondfoot .iconsfoot h6{
    padding-top:10px;
    font-family:poppins,sans-serif;
   }
   #footer .secondfoot .pureicons{
    margin-top:30px;
    margin-left:20px;
   }
   #footer .secondfoot .pureicons i{
    background:white;
    color:rgb(80, 175, 80);
    border:2px solid rgb(80,175,80);
    border-radius:50px;
    padding:10px;
   }
   #footer .thirdfoot ul {
    line-height:35px;
   
   }
   #footer .thirdfoot ul li{
    padding-left:10px;
    font-family:poppins,sans-serif;
   }
   #footer .thirdfoot i,li{
    display:inline;
   }
   #footer .thirdfoot ul{
    margin-left:-40px;
   }
  
   #footer .fourthfoot ul{
    line-height:35px;
   }
   #footer .fourthfoot ul li{
    font-family:poppins,sans-serif;
    padding-left:10px;
   }
   #footer .fourthfoot i,li{
    display:inline;
   }
   #footer .fourthfoot ul{
    margin-left:-40px;
   }
   #footer h4{
    font-family:poppins,sans-serif;
   }
  

   @media screen and (min-width:320px) and (max-width:767px)
   {
    #footer .firstfoot,.secondfoot,.thirdfoot,.fourthfoot{
        margin-top:30px;
    }
    #footer{
        height:1100px;
    }
   }
   

   @media screen and (min-width:768px) and (max-width:1000px)
   {
    #footer{
        height:350px;
    }
    #footer a{
        font-size:10px;
    }
    #footer ul li{
        font-size:10px;
    }
    #footer h4{
        font-size:20px;
        font-family: poppins,sans-serif;
    
}#footer p{
    font-size:10px;
    font-family:poppins,sans-serif;
}
#footer .secondfoot .pureicons{
   
    margin-left:0px;
   }
   #footer .secondfoot .pureicons i{
    padding:5px;
   }
}
@media screen and (min-width:1000px)  and (max-width:1400px)
{
    #footer a{
        font-size:15px;
    }
    #footer {
        height:400px;
    }
    #footer p{
        font-size:15px;
    }
}


#finalfooter{
    height:100px;
    background:lightseagreen;
}
#finalfooter h6{
    padding-top:30px;
    font-family:poppins,sans-serif;
}
#finalfooter .links ul{
    word-spacing:20px;
}
#finalfooter .links{
    margin-top:30px;
}
#finalfooter .links a{
    color:black;
  border-bottom:2px solid black;
  padding-bottom:5px;
  font-family:poppins,sans-serif;
}
#finalfooter #scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #04ba4a;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 15px 20px;
    cursor: pointer;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

#finalfooter #scrollToTopBtn:hover {
    background-color: #0056b3;
}

@media screen and (min-width:320px)  and (max-width:767px)
{
    #finalfooter {
        height:240px;
    }
    #finalfooter h6{
        text-align:center;
        font-size:13px;
    }
    #finalfooter .links ul a {
        display:block;
       border-bottom:none;
       font-size:14px;
    }
    #finalfooter .links{
        margin-left:-20px;
    }
}
@media screen and (min-width:768px) and (max-width:1400px)
{
    #finalfooter {
        height:100px;
    }
    #finalfooter h6{
       text-align:left;
        font-size:13px;
    }
    #finalfooter .links ul a {
      font-size:13px;
    }
    #finalfooter .links{
        margin-top:20px;
    }
    #finalfooter .links{
        margin-left:-20px;
    }
}